*{
    font-family: "EB Garamond",Times, serif;
}

body{

    display: grid;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

h1{
    margin: 15px 0;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,p{

    width: 100%;
    text-align: center;
    color: ivory;
}

p{
    margin: 0;
    margin-bottom: 15px;
    width: 85%;
    position: relative;
    
}

li{
    margin: 0px 2px;
    display: flex;
    width: 125px;

}

/*====Footer options=====*/

.footerInfo{
    display: inline;
    grid-column: 2/3;
    grid-row: 4;
    color: ivory;
    width: 80%;
    font-size: 13px;
    text-align: center;
}



.o2{
    display: inline-grid;
    grid-column: 1/2;
    grid-row: 2;
    text-align: center;

    
}


/*=====END====*/

.wrapper{
    width: 100%;
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: #1c1414;
    
}

.main{
    width: 100%;
    display: inline-grid;
    justify-content: center;
    flex: 1 0 auto;
    justify-items: center;
    align-items: start;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-rows: auto 1fr;
    grid-template-rows: max-content;
}


.intro{
    display: inline-grid;
    width: 100%;
    grid-column: 2/3;
    grid-row: 1;
    grid-auto-rows: max-content;
    justify-items: center;
}

.logo{
    padding-right: 15px;

}


.lineBreak{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    
  }

  .butterflyDiv, .butterflyDivBottom{
    z-index: 1;

  }


.sideBar1, .sideBar2{
    display: inline-grid;
    width: 100%;
    height: 100%;
    background-color: #343131c9;
    grid-column: 1;
    grid-row: 1/5;
}

.sideBar1{
    background:url(../images/misc/sidebar1.png) no-repeat;
    background-size: auto 100%;
    background-attachment: fixed;
    background-position: left;
    
}

.sideBar2{
    grid-column: 3;
    background: url(../images/misc/sidebar4.png) no-repeat;
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: right;
   
}



/*=====Card box stuff======*/
.cardsModal{
    text-align: center;
    max-width: 100%;
    width: 85%;
    display: inline-grid;
    grid-column: 2;

}

.weaponButtons{
    background: url(../images/misc/box_lid.png) no-repeat;
    background-size: cover;
    height: 34px;
    padding: 45px;
    display: inline-grid;
    justify-content: center;
    grid-template-columns: repeat(2,minmax(0,25%));
    grid-auto-rows: 1fr;
    grid-gap: 100px;
    
}


.button1,.button2{
    background: url(../images/misc/button2.png) no-repeat center;
    border: none;
    background-size: 100% 50px;
    height: 50px;
    display: flex;
    align-items: center;

}

.button1:hover, .button2:hover{
    box-shadow: inset 0px 0px 35px 5px #40313182;
    border-radius: 10px;
}


.buttonText{
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 21px;
    -webkit-text-stroke: 1px #1e0d0d;
    -webkit-text-stroke-width: thin;
    justify-content: center;
    align-items: center;
}


.Choices{

    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(125px,100%), 0fr));
    grid-auto-rows: 100%;
    justify-content: center;
    grid-gap: 5px;
    padding: 5px;
    margin: 15px;
    max-width: 100%;
    max-height: 100%;
    height: 155px;
    width: 93%;
    overflow-y: auto;
}

.handles, .blades{
    
    display: none;
    justify-items: center;
    padding:15px 0px;
    max-width: 100%;
    width: 100%;
    background:url(../images/misc/wallpaper.png) no-repeat center;
    background-size: cover;
    border-image-source: url(../images/misc/frame.png);
    border-image-slice: 33% 33% 33% 33%;
    border-image-width:3.5em;
    border-image-repeat: stretch;
    
    
}   

.handleChoice, .bladeChoice{
    opacity: 0.8;
    transition-duration: 0.4s;
    border: none;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: center;
    background: url(../images/misc/card_border.png) no-repeat center;
    background-size: 100% 100%;
    cursor: pointer;
    height: auto;
    
    
}

.handleModal,.bladeModal{
    position: relative;
    top: 7px;
    display: grid;
    justify-items: center;
    width: 75%;
    height: auto;
}



.handleChoice:hover,.bladeChoice:hover{
    box-shadow: inset 0px 0px 35px #191515db;
    opacity: 1;
    
}

.handleChoice:active, .bladeChoice:active, .active {
    box-shadow: inset 0px 0px 25px #d20707;
    opacity: 1;
    transition-duration: 0.4s;
    border: 2px red;
    border-radius: 10px;

}

.handleImg, .bladeImg{

    max-width: 100%;
    min-width: 0;
    min-height: 0;
    aspect-ratio: 1;
    height: 78%;
    position: relative;
    top: 10px;

}

.weaponText{
    max-width: 100%;
    max-height: 35%;
    position: relative;
    padding: 0px 10px 10px 10px;
    color: #120808;
    font-size: 14px;
    
}

/*====Card Buttons=====*/

.sAll{
    background: url(../images/misc/button1.png) no-repeat center;
    background-size: 100% auto;
    border: none;
    margin: 5px;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  .sAll:hover{
    box-shadow: inset 0px 0px 35px #121212a3;
  }

  .bContents{
    padding: 10px 25px;
    
  }


  .hAll,.bAll{
    display: grid;
    grid-auto-columns: 1fr;
    justify-content: center;
    grid-auto-flow: column;
  }

/*====SLOTS=====*/

.slotModal{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 85%;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: center;
    grid-column: 2;
    background: url(../images/misc/wooden_box.png) no-repeat;
    background-size: 100% 425px;
    height: 425px;
    margin-bottom: 25px;
}

.slot{

    width: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(3,max-content);
    grid-auto-rows: 1fr;
    
}

.reel1, .reel2{

    border: 2px inset #fbfbfb;
    display: flex;
    overflow: hidden;
    margin: 0px 50px;
    background-color: ivory;
}

.plusSign{

    display: flex;
    align-items: center;
    color: #fffff091;
    font-size: 35px;
}



.weaponImg{

    max-width: 100%;
    max-height: 100%;
    height: auto;
    padding: 10px;
}

.boxes1, .boxes2{
    height: 140px;
    display: grid;
    grid-template-columns: max-content;
    grid-auto-rows: 1fr;
    position: relative;
    
}

.box1, .box2{
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;

}


#spinStart{
    width: 100%;
    display: inline-flex;
    justify-content: center;
}


.spinButton{
    display: inline-flex;
    align-items: center;
    border: none;
    background: url(../images/misc/button2.png) no-repeat center;
    background-size: 100% 50px;
    height: 80px;
    width: 14%;
}


.spinText{
    width: 100%;
    color: #120808;
    font-size: 19px;
    letter-spacing: 1px;
    -webkit-text-stroke: 1px #1e0d0d;
}


  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  .Choices {
    scrollbar-width: thin;
    scrollbar-color: #e1c16c #143107;
  }

  /* Chrome, Edge, and Safari */
  .Choices::-webkit-scrollbar {
    width: 10px;
  }

  .Choices::-webkit-scrollbar-track {
    background: transparent;
  }

  .Choices::-webkit-scrollbar-thumb {
    background-color: #e1c16c;
    border-radius: 4px;
    border: 2px solid #a4880a88;
  }
